<div class="feed-container">
  <h2>🔹 Feed</h2>

  <div class="post-card" *ngFor="let post of posts()">
    <p><strong>{{ post.author.name }}</strong></p>
    <p>{{ post.content }}</p>
    
    <button 
    (click)="toggleSpark(post._id)" 
    [class.sparked]="hasSparked(post._id)"
    class="spark-button">
    ⚡ {{ postCounts()[post._id] || post.sparkCount || 0 }}
  </button>
    
  <button (click)="openComments(post._id)">
    💬 {{ post.commentCount }} Comments
  </button>
  <app-comment 
  *ngIf="selectedPostId() === post._id" 
  [postId]="post._id"
  (commentCountChanged)="updatePostCommentCount(post._id, $event)">
</app-comment>
  </div>
  
  <button *ngIf="hasMore()" (click)="loadFeed()" [disabled]="loading()">
    {{ loading() ? 'Loading...' : 'Load More' }}
  </button>
</div>